[submodule "plurality-backend-api"]
	path = plurality-backend-api
	url = https://github.com/Web3-Plurality/plurality-backend-api
[submodule "plurality-metamask-snap"]
	path = plurality-metamask-snap
	url = https://github.com/Web3-Plurality/plurality-metamask-snap
[submodule "plurality-repconnect-demo"]
	path = plurality-repconnect-demo
	url = https://github.com/Web3-Plurality/plurality-repconnect-demo.git
[submodule "plurality-repconnect-widget"]
	path = plurality-repconnect-widget
	url = https://github.com/Web3-Plurality/plurality-repconnect-widget.git
