//
// Ellipsis
//

// stylelint-disable
%truncate {
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
}

@for $i from 1 through 6 {
	.truncate-line-#{$i} {
		@extend %truncate;
		-webkit-line-clamp: $i;
	}
}
// stylelint-enable

.truncate-text {
	width: 180px;
	max-width: 100%;
	white-space: nowrap;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 0px;
  }
